name: Build and Test

on: 
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  should-run:
    runs-on: ubuntu-latest
    outputs:
      should-run: ${{ steps.check.outputs.should-run }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Check if the workflow should run
        id: check
        run: |
          git diff --name-only origin/${{ github.base_ref }} HEAD | grep -q "Sources/" && echo "should-run=true" >> "$GITHUB_OUTPUT" || echo "should-run=false" >> "$GITHUB_OUTPUT"
  
  SwiftLint:
    needs: should-run
    if: ${{ needs.should-run.outputs.should-run == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: GitHub Action for SwiftLint (Only files changed in the PR)
        uses: norio-nomura/action-swiftlint@9f4dcd7fd46b4e75d7935cf2f4df406d5cae3684 # 3.2.1
        env:
          args: --strict
          DIFF_BASE: ${{ github.base_ref }}
  
  iOS:
    needs: should-run
    if: ${{ needs.should-run.outputs.should-run == 'true' }}
    runs-on: macos-15
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
      with:
        xcode-version: 16.4
    - name: Install Homebrew kegs
      run: make setup-brew
    - name: Build for iOS
      run: make build-for-testing-ios
    - name: Test for iOS
      run: make test-without-building-ios
  
  required-status-checks:
    needs: 
      - SwiftLint
      - iOS
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Check if all required jobs passed
        run: |
          if [[ ${{ needs.SwiftLint.result }} == 'failure' || \
          ${{ needs.iOS.result }} == 'failure' ]]; then
            echo "One or more required jobs failed. Failing the workflow."
            exit 1
          else
            echo "All required jobs passed/skipped."
          fi
